<a href="https://colab.research.google.com/github/samuelllopes/AnimaCursoExtensaoAnalisedeDadosPythonPandas-2023-1/blob/main/Aula01%7C02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeira|Segunda Aula de An√°lise de Dados com Python Pandas - 06/02/2023 & 07/02/2023

In [3]:
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
display(combustiveis_df)

In [ ]:
display(combustiveis_df.head(25))

In [ ]:
display(combustiveis_df.shape)

In [ ]:
display(combustiveis_df.info())

In [ ]:
display(combustiveis_df.describe())

In [ ]:
revenda = combustiveis_df['Revenda']
display(revenda)

In [ ]:
prod_df = combustiveis_df[['Revenda' , 'Municipio' , 'Produto' , 'Valor de Venda']]
display(prod_df)

In [ ]:
display(prod_df.loc[1380:1400])

In [ ]:
gas_df = prod_df.loc[1:100][prod_df['Produto'] == 'GASOLINA']
display(gas_df)

In [ ]:
display(gas_df[['Revenda' , 'Municipio' , 'Valor de Venda']].max())

In [39]:
et_indaiatuba_df = prod_df.loc[(prod_df['Produto'] == 'ETANOL') & (prod_df['Municipio'] == 'INDAIATUBA')]
display(et_indaiatuba_df.sort_values(by='Valor de Venda'))

,Revenda,Municipio,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
...,...,...,...,...
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197